Django>=4.0
psycopg2-binary
requests
python3-memcached
pymemcache
gunicorn
django-jazzmin
django-cors-headers
django-ses
ipython
uritemplate
celery[redis]
autobahn
Twisted[tls,http2]
redis
Pillow
firebase_admin
djangorestframework-xml
djangorestframework
stripe
channels
channels_redis
beautifulsoup4
html5lib
django_pandas
astropy
astroquery