{% extends 'user/user_base.html' %}
{% load i18n l10n static project_tags%}


{% block page_content_body_nav_bar %}
<nav class="navbar navbar-expand navbar-white navbar-dark">
  <!-- Right navbar links -->
  <ul class="navbar-nav mr-auto">
    <!-- Navbar Search -->
    <li class="nav-item">

      <a class="btn btn-xs  bg-olive" href="{{next|default:object.get_list_url}}">
        <i class="fas fa-angle-left"></i>
       Voltar 
      </a>
    </li>    
  </ul>

  <a class="btn btn-xs  bg-danger " href="{{ object.get_delete_url }}">
    <i class="fas fa-trash"></i>
    Remover
  </a>  

</nav>
{% endblock page_content_body_nav_bar %}

{% block page_content_body_main %}
<div class="container-fluid bg-white p-3">
 
  {% if form.errors %}
  <ol>
  {% for error in form.errors %}
    <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
  </ol>
  {% endif %}
  
  
  {% if form.non_field_errors %}
  <div class="card-header">
  <h3 class="card-title">
    <i class="fas fa-exclamation-triangle"></i>
   Alertas
  </h3>
  </div>
  
  <div class="card-body">
  {% for error in form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
  {% endfor %}   
  </div>
  {% endif %} 

  <form class="form" method="post" action="{{record.get_update_url}}{%if next %}?next={{next}}{%endif%}">
    {% include "user/user_form_update.html" %}
    </form>
</div>
{% endblock page_content_body_main %}




