{% extends 'accountprofilemodel/accountprofilemodel_base.html' %}
{% load i18n l10n static project_tags %}

{% block page_content_body_nav_bar %}

<nav class="navbar navbar-expand navbar-white navbar-dark">
  <!-- Right navbar links -->
  <ul class="navbar-nav mr-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <a class="btn btn-xs  bg-info" href="{% url 'accountprofilemodel-create' %}">
        <i class="fas fa-plus"></i>
        Adicionar Perfil
      </a>
    </li>


                  <li class="nav-item dropdown ml-2">

                <a class="btn btn-xs bg-warning dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fas fa-list"></i>
                    Cadastros auxiliar                 
                </a>
              
                <div class="dropdown-menu dropdown-menu-xs ">
               <ul class="nav nav-treeview">
                      
                      
               <li class="nav-item mr-2 ml-2">

                    <a class="btn btn-xs" href="{% url 'accountprofilemodel-create' %}?next={% url 'accountprofilemodel-list' %}" >
                    <i class="fas fa-plus mr-2"></i>
                        ??
                    </a> 
                  </li>
            
               </ul>                     
                </div>
            </li>


  </ul>
  
   <a id="button_open_modal_accountprofilemodel_filtros" class="btn btn-xs  bg-info"  >
    <i class="fas fa-filter"></i>
   Filtros
  </a>  

  {% if request.GET.urlencode %}
   <a class="btn btn-xs ml-2 bg-warning" href="{% url 'accountprofilemodel-list' %}">
    <i class="fas fa-trash"></i>
  Limpar Filtors
  </a>  
  {% endif %}

</nav>
{% endblock page_content_body_nav_bar %}


{% block page_content_body_main %}
{% include 'accountprofilemodel/accountprofilemodel_grid.html' %}
{% endblock page_content_body_main %}


{% block page_content_body_footer %}
    <div class="clearfix">
     {% if is_paginated %} 
            <h1 class="card-title">
              {{paginator.count}} Perfil,  
                Mostrando página 
                {{page_obj.number}} de 
                {{paginator.num_pages}}            
            </h1>
            <div class="card-tools">
            {% localize off %}            
               
                <ul class="pagination pagination-sm m-0 float-right">
                    {% if page_obj.has_previous %} 
                    <li class="page-item">
                        <a class="page-link" href="{{ record.get_list_url }}?page={{page_obj.previous_page_number}}">&laquo;</a></li>
                    {% endif %} 
                    {% for page in paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="{{ record.get_list_url }}?page={{page}}">{{page}}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %} 
                    <li class="page-item">
                        <a class="page-link" href="{{ record.get_list_url }}?page={{page_obj.next_page_number}}">&raquo;</a></li>
                    {% endif %} 
                  </ul>
                
                {% endlocalize off %}
            </div>
{% endif %}             
    </div>
{% endblock page_content_body_footer %}