{% extends 'accountprofilemodel/accountprofilemodel_base.html' %}
{% load i18n l10n static project_tags %}

{% block page_content_body_main %}
<div class="container-fluid bg-white p-3">
  {% if form.errors %}
  <ol>
  {% for error in form.errors %}
    <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
  </ol>
  {% endif %}
  
  
  {% if form.non_field_errors %}
  <div class="card-header">
  <h3 class="card-title">
    <i class="fas fa-exclamation-triangle"></i>
   Alertas
  </h3>
  </div>
  
  <div class="card-body">
  {% for error in form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
  {% endfor %}   
  </div>
  {% endif %} 

  
  <form class="form" method="post" action="{% url 'accountprofilemodel-create' %}{%if next %}?next={{next}}{%endif%}">

    {% include "accountprofilemodel/accountprofilemodel_form_create.html" %}
    </form>

</div>
{% endblock page_content_body_main %}
