{% extends 'base/auth.html' %}
{% load i18n static project_tags %}


{% block head_css_inline %}
<style>

  body {
      background-color: #DADADA;
        background-image: url("{% static 'assets/images/bg_map.jpg' %}");
  background-repeat: no-repeat;
  background-size: cover;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
</style>
{% endblock head_css_inline %}


{% block core_body %}



<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="/static/icons/carro-verde.png" class="image">
      <div class="content">
        Acessar painel
      </div>
    </h2>
    <form class="ui large form" method="post" action="{% url 'login' %}?next={{next}}">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Usuário">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">Entrar</div>
      </div>

      <div class="ui error message">

      {% if form.subject.errors %}
      <ol>
      {% for error in form.subject.errors %}
          <li><strong>{{ error|escape }}</strong></li>
      {% endfor %}
      </ol>
  {% endif %}


      {% if form.non_field_errors %}
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-exclamation-triangle"></i>
         Alertas
        </h3>
      </div>
    
      <div class="card-body">
      {% for error in form.non_field_errors %}
          <div class="alert alert-warning" role="alert">
              {{ error }}
          </div>
      {% endfor %}   
      
      </div>
      </div>
      {% endif %} 

      
      </div>

    </form>

    <div class="ui message">
    <a href="#">Recuperar senha</a>
    </div>
  </div>
</div>







  <script>
  $(document)
    .ready(function() {
      $('.ui.form')
        .form({
          fields: {
            email: {
              identifier  : 'email',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your e-mail'
                },
                {
                  type   : 'email',
                  prompt : 'Please enter a valid e-mail'
                }
              ]
            },
            password: {
              identifier  : 'password',
              rules: [
                {
                  type   : 'empty',
                  prompt : 'Please enter your password'
                },
                {
                  type   : 'length[6]',
                  prompt : 'Your password must be at least 6 characters'
                }
              ]
            }
          }
        })
      ;
    })
  ;
  </script>

{% endblock %}


<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <a href="/manager/" class="h1">{% translate 'Entrar' %}</a>
    </div>
    <div class="card-body">
     



        <form class="ui large form" method="post" action="{% url 'login' %}?next={{next}}">
          {% csrf_token %}

          {% for field in form %}
        
          <div class="input-group mb-3">
            
            {{field|add_attr:"form-control"}}
     


            <div class="input-group-append">
              <div class="input-group-text">          
              </div>
            </div>
          </div>
              
        {% if field.help_text %}
        <div class="ui message">
          <div class="header">
            Critérios para {{field.label}}
          </div>
          {{ field.help_text|safe }}
        </div>
  
              
        {% endif %}
  
          
          {% endfor %}
          
        
        <div class="row">
          <div class="col-8">
            <p class="mb-1">
              <a href="{% url 'login' %}?&next={{next}}">{% translate 'Recuperar senha' %}</a>
            </p>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">{% translate 'Entrar' %}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>





      <!-- /.social-auth-links -->

 

    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->